 h1{
    color:green;
    font-family: sans-serif;
}

P{
    color:coral;
    font-family: ;
}

h2{
    color:green;
    font-family: helvetica;sans-serif;
    text-align: right;
}

h3{
    font-family: comic sans; comic sans ms; cursive;
}

p{
    font-weight: 800;
    text-decoration: none;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #2695A6;
}



th{
    font-weight: 800;
    background-color: #2695A6;
    color: #ffffff;
}

tr.alt td{
    background-color: #9AEFFC;
}


ul{
    list-style-image:url("images/pointer-icon\ \(1\).png");
}

ol{
    list-style-type: upper-roman;
}
 #menu-bar a{
    font-family: helvetica; sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px; 
}   

#menu-bar a:hover{
    background-color: aqua;
    color:#ffffff;
}






    
